# Logs
yarn-debug.log*
yarn-error.log*

# Optional eslint cache
.eslintcache

# Project dependencies
.cache
node_modules

# dotenv environment variable files
.env*

# gatsby files
public

# Mac files
.DS_Store
