body {
  min-width: 20rem;
  background-color: hsl(208, 8%, 99%);
  color: hsla(232, 16%, 8%, 0.96);
}
main {
  display: block;
  max-width: 42rem;
  margin: 0 auto;
  padding: 2rem 1.5rem 3rem;
}
@media screen and (min-width: 384px) {
  main {
    padding: 3rem 2rem;
  }
}
a {
  color: hsl(208, 96%, 48%);
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
h1,
h2 {
  font-weight: 300;
}
.heading {
  margin: 0;
}
.subheading {
  font-size: 1.125rem;
  margin: 0.25rem 0 1.5rem;
}
.date {
  font-size: 1rem;
  color: #666;
}
@media screen and (max-width: 350px) {
  .date {
    display: block;
  }
}
