body {
  min-width: 20rem;
  background-color: #202124;
  color: #e8eaed;
}
body.light {
  background-color: hsl(208, 8%, 99%);
  color: hsla(232, 16%, 8%, 0.96);
}
main {
  display: block;
  max-width: 42rem;
  margin: 0 auto;
  padding: 2rem 1.5rem 3rem;
}
@media screen and (min-width: 384px) {
  main {
    padding: 3rem 2rem;
  }
}
a {
  text-decoration: none;
  color: hsl(210, 96%, 64%);
}
.light a {
  color: hsl(210, 96%, 44%);
}
a:hover,
a:focus {
  text-decoration: underline;
}
h1,
h2 {
  font-weight: 300;
}
.heading {
  margin: 0;
}
.subheading {
  font-size: 1.125rem;
  margin: 0.25rem 0 1.5rem;
}
.date {
  font-size: 1rem;
  color: #a9aeb2;
}
.light .date {
  color: #666;
}
@media screen and (max-width: 350px) {
  .date {
    display: block;
  }
}
hr {
  background: hsla(0, 0%, 100%, 0.42);
}
.light hr {
  background: hsla(0, 0%, 0%, 0.2);
}
th {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.64);
}
td {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.32);
}
.light td,
.light th {
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
}
.anchor svg {
  fill: #e8eaed;
}
.light .anchor svg {
  fill: #000;
}
